@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300');

body{
	font-family: 'Nunito', sans-serif;
	background-color: #F9F9F9;
}

a{
	text-decoration: none;
	font-weight: bold;
}

.container{
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.card{
	width: 25%;
	padding: 16px;
	background-color: white;
	border-radius: 6px;
	box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.card:hover{
	/* Effet de zoom */
	-webkit-transform:scale(1.1); /* Safari et Chrome */
	-moz-transform:scale(1.1); /* Firefox */
	-ms-transform:scale(1.1); /* Internet Explorer 9 */
	-o-transform:scale(1.1); /* Opera */
	transform:scale(1.1);
		
	/* Transition */
	-webkit-transition: all 0.5s ease; /* Safari et Chrome */
	-moz-transition: all 0.5s ease; /* Firefox */
	-ms-transition: all 0.5s ease; /* Internet Explorer 9 */
	-o-transition: all 0.5s ease; /* Opera */
	transition: all 0.5s ease;
}

.margin{
	margin-right: 48px;
	margin-left: 48px;
}

.img-profile{
	width:120px;
	border-radius: 50%;
}
